.content
  .calc-content
    button.btn-show(type='button')
      i.fa.fa-chevron-down(aria-hidden="true")
    label.text(for='sum')
      span.text__item Бюджет на
      i.fa.fa-male(aria-hidden='true')
      span.text__item x
      span.text__item_big 2:
    // /.text
    .input
      input.input__sum(type='text' placeholder='100 000' id='sum')
      span.input__rouble a
    .calculation
      span.calculation__item &ndash; &nbsp;15 678
      span.sale-rouble a
      i.fa.fa-ticket(aria-hidden='true')
      span.calculation__item =
      span.calculation__result 84 322
      span.result-rouble a
    // /.calculation
    i.fa.fa-long-arrow-right(aria-hidden="true")
    a.calc-content__link(href='#') К корзине
    button.calc-content__button
      span.btn-text Свернуть
      i.fa.fa-chevron-up(aria-hidden="true")
    hr.calc-content__line
  // /.calc-content
  .steps
    .item-tickets
      .icon-wrap
        i.fa.fa-ticket(aria-hidden='true')
      h6.item__heading Билеты
      p.item__sum
        span.text 15 678
        i.fa.fa-rub(aria-hidden="true")
      button.item__button-delete(type='button')
        i.fa.fa-trash(aria-hidden="true")
      p.item__tip Уже в корзине
      .item__indicator
    // /.item-tickets
    .item-residence
      .icon-wrap
        i.fa.fa-building(aria-hidden='true')
      h6.item__heading Проживание
      p.item__tip
        span.text_strong 115
        span.text &nbsp;вариантов
      p.item__price
        span.text от&nbsp;
        span.text_strong.start 8746
        i.fa.fa-rub(aria-hidden="true")
        span.text &nbsp;до&nbsp;
        span.text_strong.finish 15567
        i.fa.fa-rub(aria-hidden="true")
      // /.item__price
      .item__indicator
    // /.item-residence
    .item-transfer
      .icon-wrap
        i.fa.fa-car(aria-hidden='true')
      h6.item__heading Трансфер
      p.item__tip
        span.text.hidden-xs Групповой трансфер, такси или
        br.hidden-xs
        span.text.hidden-xs авто с личным водителем
        span.text.visible-xs 145 вариантов
      // /.item__tip
      .item__indicator
    // /.item-transfer
    .item-service
      .icon-wrap
        i.fa.fa-star(aria-hidden='true')
      h6.item__heading Доп. услуги
      p.item__tip
        span.text.hidden-xs Страхование, аренда авто,
        br.hidden-xs
        span.text.hidden-xs экскурсии и тд.
        span.text.visible-xs 23 варианта
      // /.item__tip
      .item__indicator
    // /.item-service
  // /.steps
  .settings2
    form.search-form(action='#')
      include settings/___city
      include settings/___date
      include settings/___person
      .btn-group.sort(data-toggle="buttons")
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off" checked)
          | Ближе к нужному адресу
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Низкая цена в начале
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Оценка
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Цена/Качество
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Скидка
      // /.sort
      button.map-button(type='button')
        i.fa.fa-map-marker(aria-hidden='true')
        span.map-button__text.visible-lg Показать на карте
        span.map-button__text.hidden-lg Карта
      // /.map-button
      button.filter-button(type='button')
        i.fa.fa-sliders(aria-hidden='true')
        span.filter-button__text Фильтровать
      // /.filter-button
      button.sort-button(type='button')
        i.fa.fa-sort-amount-asc(aria-hidden='true')
        span.sort-button__text Сортировать
      // /.sort-button
    // /.search-form
  // /.settings2
  .hotels
    .item.ibis
      p.notice Завтрак включен
      img.item__img(src='img/ibis.jpg' alt='Ibis' title='Ибис Сибирь-Омск')
      .column1
        h6.item__heading Отель &laquo;Ибис Сибирь-Омск&raquo; 4*
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 400м до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 1 комната, 2 кровати
        p.warning Осталось номеров: 2
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
          p.comfort__item
            span.icon.comfort__icon-breakfast
            span.text Завтраки включены
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Отлично&nbsp;
          span.text_strong 5.0
        a.reviews(href='#') 15 отзывов
        .wrap
          button.like-button(type='button')
            i.fa.fa-heart-o(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          button.choose-button(type='button')
            p.sale - 50%
            p.sale-info
              span.main 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
            p.price
              span.main от&nbsp;
              span.main_strong 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
              br
              span.info за 2 суток для 2х гостей
            // /.price
            span.choose-button__text Выбрать
            i.fa.fa-chevron-right(aria-hidden='true')
          // /.choose-button
        // /.wrap
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item.ibis
    .item.owl
      p.notice Завтрак включен
      img.item__img(src='img/owl.jpg' alt='Sova' title='Мини-Отель "Sova"')
      .column1
        h6.item__heading Мини-Отель &laquo;Sova&raquo; 3*
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 600м до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 1 комната, 2 кровати
        p.warning Осталось номеров: 2
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
          p.comfort__item
            i.fa.fa-wifi(aria-hidden='true')
            span.text Wi-Fi в номере
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Приемлемо&nbsp;
          span.text_strong 3.4
        a.reviews(href='#') 56 отзывов
        .wrap
          button.like-button(type='button')
            i.fa.fa-heart-o(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          button.choose-button(type='button')
            p.sale - 50%
            p.sale-info
              span.main 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
            p.price
              span.main от&nbsp;
              span.main_strong 4 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
              br
              span.info за 2 суток для 2х гостей
            // /.price
            span.choose-button__text Выбрать
            i.fa.fa-chevron-right(aria-hidden='true')
          // /.choose-button
        // /.wrap
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item.owl
    .item.alfa
      p.notice Завтрак включен
      img.item__img(src='img/alfa.jpg' alt='Alfa' title='Апартаменты "Альфа на Маркса"')
      .column1
        h6.item__heading Апартаменты &laquo;Альфа на Маркса&raquo;
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 1.2км до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 1 комната, 4 кровати
        p.warning Осталось номеров: 2
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Хорошо&nbsp;
          span.text_strong 4.0
        a.reviews(href='#') 5 отзывов
        .wrap
          button.like-button(type='button')
            i.fa.fa-heart-o(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          button.choose-button(type='button')
            p.sale - 50%
            p.sale-info
              span.main 7 823&nbsp;
              i.fa.fa-rub(aria-hidden='true')
            p.price
              span.main от&nbsp;
              span.main_strong 7 823&nbsp;
              i.fa.fa-rub(aria-hidden='true')
              br
              span.info за 2 суток для 2х гостей
            // /.price
            span.choose-button__text Выбрать
            i.fa.fa-chevron-right(aria-hidden='true')
          // /.choose-button
        // /.wrap
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item.alfa
    .item.ibis2
      p.notice Завтрак включен
      img.item__img(src='img/ibis2.jpg' alt='Ibis2' title='Ибис Сибирь-Омск')
      .column1
        h6.item__heading Отель &laquo;Ибис Сибирь-Омск&raquo; 4*
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 1.8км до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 2 комната, 2 кровати
        p.warning Осталось номеров: 3
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
          p.comfort__item
            span.icon.comfort__icon-breakfast
            span.text Завтраки включены
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Приемлемо&nbsp;
          span.text_strong 3.2
        a.reviews(href='#') 15 отзывов
        .wrap
          button.like-button(type='button')
            i.fa.fa-heart-o(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          button.choose-button(type='button')
            p.sale - 50%
            p.sale-info
              span.main 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
            p.price
              span.main от&nbsp;
              span.main_strong 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
              br
              span.info за 2 суток для 2х гостей
            // /.price
            span.choose-button__text Выбрать
            i.fa.fa-chevron-right(aria-hidden='true')
          // /.choose-button
        // /.wrap
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item.ibis2
    .item.dostoyevsky
      p.notice Завтрак включен
      img.item__img(src='img/ibis.jpg' alt='Dostoyevsky' title='Хостел "Достоевский"')
      .column1
        h6.item__heading Хостел &laquo;Достоевский&raquo;
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 2км до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 2 кровати в общем номере
        p.warning Осталось номеров: 2
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
          p.comfort__item
            span.icon.comfort__icon-fitness
            span.text Фитнес-центр
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Отлично&nbsp;
          span.text_strong 5.0
        a.reviews(href='#') 196 отзывов
        .wrap
          button.like-button(type='button')
            i.fa.fa-heart-o(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          button.choose-button(type='button')
            p.sale - 50%
            p.sale-info
              span.main 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
            p.price
              span.main от&nbsp;
              span.main_strong 8 567&nbsp;
              i.fa.fa-rub(aria-hidden='true')
              br
              span.info за 2 суток для 2х гостей
            // /.price
            span.choose-button__text Выбрать
            i.fa.fa-chevron-right(aria-hidden='true')
          // /.choose-button
        // /.wrap
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item.dostoyevsky
  // /.hotels
// /.content