.content
  .calc-content
    button.btn-show(type='button')
      i.fa.fa-chevron-down(aria-hidden="true")
    label.text(for='sum')
      span.text__item Бюджет на
      i.fa.fa-male(aria-hidden='true')
      span.text__item x
      span.text__item_big 2:
    // /.text
    .input
      input.input__sum(type='text' placeholder='100 000' id='sum')
      span.input__rouble a
    .calculation
      span.calculation__item &ndash; &nbsp;15 678
      span.sale-rouble a
      i.fa.fa-ticket(aria-hidden='true')
      span.calculation__item =
      span.calculation__result 84 322
      span.result-rouble a
    // /.calculation
    i.fa.fa-long-arrow-right(aria-hidden="true")
    a.calc-content__link(href='#') К корзине
    button.calc-content__button
      span.btn-text Свернуть
      i.fa.fa-chevron-up(aria-hidden="true")
    hr.calc-content__line
  // /.calc-content
  .steps
    .item-tickets
      .icon-wrap
        i.fa.fa-ticket(aria-hidden='true')
      h6.item__heading Билеты
      p.item__sum
        span.text 15 678
        i.fa.fa-rub(aria-hidden="true")
      button.item__button-delete(type='button')
        i.fa.fa-trash(aria-hidden="true")
      p.item__tip Уже в корзине
      .item__indicator
    // /.item-tickets
    .item-residence
      .icon-wrap
        i.fa.fa-building(aria-hidden='true')
      h6.item__heading Проживание
      p.item__tip
        span.text_strong 115
        span.text &nbsp;вариантов
      p.item__price
        span.text от&nbsp;
        span.text_strong.start 8746
        i.fa.fa-rub(aria-hidden="true")
        span.text &nbsp;до&nbsp;
        span.text_strong.finish 15567
        i.fa.fa-rub(aria-hidden="true")
      // /.item__price
      .item__indicator
    // /.item-residence
    .item-transfer
      .icon-wrap
        i.fa.fa-car(aria-hidden='true')
      h6.item__heading Трансфер
      p.item__tip
        span.text.hidden-xs Групповой трансфер, такси или
        br.hidden-xs
        span.text.hidden-xs авто с личным водителем
        span.text.visible-xs 145 вариантов
      // /.item__tip
      .item__indicator
    // /.item-transfer
    .item-service
      .icon-wrap
        i.fa.fa-star(aria-hidden='true')
      h6.item__heading Доп. услуги
      p.item__tip
        span.text.hidden-xs Страхование, аренда авто,
        br.hidden-xs
        span.text.hidden-xs экскурсии и тд.
        span.text.visible-xs 23 варианта
      // /.item__tip
      .item__indicator
    // /.item-service
  // /.steps
  .settings2
    form.search-form(action='#')
      include settings/___city
      include settings/___date
      include settings/___person
      .btn-group.sort(data-toggle="buttons")
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off" checked)
          | Ближе к нужному адресу
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Низкая цена в начале
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Оценка
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Цена/Качество
        label.btn.btn-primary.sort__item
          input(type="checkbox" autocomplete="off")
          | Скидка
      // /.sort
      button.map-button(type='button')
        i.fa.fa-map-marker(aria-hidden='true')
        span.map-button__text.visible-lg Показать на карте
        span.map-button__text.hidden-lg Карта
      // /.map-button
      button.filter-button(type='button')
        i.fa.fa-sliders(aria-hidden='true')
        span.filter-button__text Фильтровать
      // /.filter-button
      button.sort-button(type='button')
        i.fa.fa-sort-amount-asc(aria-hidden='true')
        span.sort-button__text Сортировать
      // /.sort-button
    // /.search-form
  // /.settings2
  .hotels
    .item
      img.item__img(src='img/ibis.jpg' alt='Ibis' title='Ибис Сибирь-Омск')
      .column1
        h6.item__heading Отель &laquo;Ибис Сибирь-Омск&raquo; 4*
        p.item__address ул. 10 Лет Октября, 109
        p.map
          i.fa.fa-map-marker(aria-hidden='true')
          span.map__text 400м до нужного адреса.
          a.map__link(href='#') На карте
        // /.map
        p.item__rooms
          i.fa.fa-bed(aria-hidden='true')
          span.text 1 комната, 2 кровати
        p.warning Осталось номеров: 2
        .comfort
          p.comfort__item
            i.fa.fa-car(aria-hidden='true')
            span.text Трансфер от/до аэропорта
          p.comfort__item
            span.icon.comfort__icon-breakfast
            span.text Завтраки включены
        // /.comfort
      // /.column1
      .column2
        p.rating
          span.text Отлично
          span.text_strong 5.0
        a.reviews(href='#') 15 отзывов
        button.like-button(type='button')
          i.fa.fa-heart-o(aria-hidden='true')
        button.choose-button(type='button')
          p.sale -50%
          p.sale-info
            span.main 8 567&nbsp;
            i.fa.fa-rub(aria-hidden='true')
          p.price
            span.main от
            span.main_strong &nbsp;8 567&nbsp;
            i.fa.fa-rub(aria-hidden='true')
            br
            span.info за 2 суток для 2х гостей
          // /.price
          span.choose-button__text Выбрать
          i.fa.fa-chevron-right(aria-hidden='true')
        // /.choose-button
        p.extra-info + ещё 3 варианта размещения
      // /.column2
    // /.item
  // /.hotels
// /.content