%btn-default
  background: none
  border: none
  outline: none
  padding: 0

  @extend %btn-animation

%btn-animation
  &:active
    position: relative
    top: 2px

.navbar-collapse
  padding: 0

.header
  background: $white
  width: 100%
  box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19)

  &__logo
    margin-top: 10px
    margin-right: 390px

  .logo
    height: inherit
    padding: 0
    font-size: inherit
    line-height: inherit
    display: flex
    align-items: center



    &__icon
      width: 43px
      height: 43px
      display: inline-block
      border-radius: 50%
      background: $grey
      margin-right: 15px

    &__text
      color: $grey2
      font-size: 1.793rem
      font-weight: 700
      letter-spacing: 6.1px

  &__link
    display: inline-flex
    align-items: center
    justify-content: center
    float: left
    width: 221px
    height: 35px
    border: 1px solid $blue
    border-radius: 16px 16px
    text-transform: uppercase
    color: $blue
    font-size: 0.625rem
    font-weight: 500
    margin-top: 17px
    margin-right: 25px

    &:hover
      cursor: pointer
      color: $grey4
      border-color: $white2

    @extend %btn-animation


  &__info
    margin-top: 22px
    margin-right: 20px

  .info
    display: inline-block
    float: left

    &__icon-phone
      margin-right: 4px
      color: $grey3
      font-size: 0.96rem

    &__number
      display: inline-block
      font-size: 1rem
      color: $grey4
      font-weight: 500
      margin-bottom: 6px
      letter-spacing: 0.62px

    &__text
      font-size: 0.563rem
      color: $grey3
      text-transform: uppercase
      text-align: center
      letter-spacing: 0.9px
      margin-left: 21px

  &__bell
    //display: none

  .bell
    @extend .cart
    border-right: none !important

    .button
      @extend .cart__button

      &__number
        top: 16px
        right: 14px

      &:active
        .button__number
          top: -0.57rem
          right: -0.71rem

  .cart
    display: inline-flex
    align-items: center
    justify-content: center
    width: 73px
    height: 71px
    float: left
    border-left: 1px solid $white2
    border-right: 1px solid $white2
    position: relative

    &__button
      @extend %btn-default

      &:hover
        opacity: 0.7

    .button
      &__number
        width: 19px
        height: 19px
        background: $yellow
        border-radius: 50%
        display: inline-flex
        align-items: center
        justify-content: center
        color: $white
        font-size: 0.75rem
        font-weight: 700
        position: absolute
        top: 15px
        right: 13px

      &:active
        .button__number
          top: -0.67rem
          right: -0.7rem


  .heart
    @extend .cart
    border-left: none

    .button
      @extend .cart__button

      &__number
        top: 16px
        right: 14px

      &:active
        .button__number
          top: -0.57rem
          right: -0.71rem

  .entrance
    width: 160px
    height: 71px
    display: inline-flex
    align-items: center
    justify-content: center
    border-right: 1px solid $white2

    &:hover
      .entrance__icon-user
        opacity: 0.5

    &__icon-user
      width: 27px
      height: 27px
      display: inline-flex
      align-items: center
      justify-content: center
      border: 2px solid $black
      border-radius: 50%
      margin-right: 10px

    .button
      @extend %btn-default

      &__text
        font-size: 1rem
        color: $grey4
        margin-right: 8px

      &__icon-down
        font-size: 0.81rem
        position: relative
        top: -1px

      &:hover
        opacity: 0.7