.header
  background: $white
  width: 100%
  box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19)

  &__logo
    margin-top: 10px
    margin-right: 413px

  .logo
    height: inherit
    padding: 0
    font-size: inherit
    line-height: inherit
    display: flex
    align-items: center

    &__icon
      width: 43px
      height: 43px
      display: inline-block
      border-radius: 50%
      background: $grey
      margin-right: 15px

    &__text
      color: $grey2
      font-size: 1.793rem
      font-weight: 700
      letter-spacing: 6.1px

  &__link
    display: inline-flex
    align-items: center
    justify-content: center
    width: 221px
    height: 35px
    border: 1px solid $blue
    border-radius: 16px 16px
    text-transform: uppercase
    color: $blue
    font-size: 0.625rem
    font-weight: 500
    margin-top: 17px
    margin-right: 25px

  &__info
    margin-top: 22px

  .info
    display: inline-block
    float: left

    &__icon
      margin-right: 6px
      color: $grey3
      font-size: 0.96rem
      position: relative
      top: -1px

    &__number
      display: inline-block
      font-size: 1.125rem
      //color: $grey9
      font-weight: 500
      margin-bottom: 8px
      letter-spacing: 0.5px

    &__text
      font-size: 0.563rem
      color: $grey2
      text-transform: uppercase
      text-align: center
      letter-spacing: 1.67px
      margin-left: 25px