.navbar-header.header
  .container
    button.navbar-toggle.collapsed.header__button(type='button', data-toggle='collapse',
    data-target='#menu')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    // /.header__button
    a.navbar-brand.header__logo.logo(href='#')
      span.logo__icon
      span.logo__text ГАН
    .collapse.navbar-collapse#menu
      include __trip
      include __link
      include __info
      .bell
        button.bell__button.button(type='button')
          i.fa.fa-bell-o(aria-hidden="true")
          p.button__number 7
      // /.bell
      include __cart
      .heart
        button.heart__button.button(type='button')
          i.fa.fa-heart-o(aria-hidden="true")
          p.button__number 1
      // /.heart
      form.entrance(action='#')
        .wrap
          i.fa.fa-user-o(aria-hidden="true")
        button.entrance__button.button(type='button')
          span.button__text Войти
          i.fa.fa-chevron-down.button__icon-down(aria-hidden='true')
      // /.entrance
    // /.navbar-collapse
    .second-menu
      include __trip
      include __cart
    // /.second-menu
  // /.container
// /.header