.navbar-header.header
  .container
    button.navbar-toggle.collapsed.header__button(type='button', data-toggle='collapse',
    data-target='#menu')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    // /.header__button
    a.navbar-brand.header__logo.logo(href='#')
      span.logo__icon
      span.logo__text ГАН
    .collapse.navbar-collapse#menu
      a.header__link Предложить недвижимость
      .header__info.info.visible-lg
        i.fa.fa-phone.info__icon-phone(aria-hidden='true')
        p.info__number 8&nbsp;800&nbsp;900&nbsp;77&nbsp;77
        p.info__text 24/7. Бесплатно по РФ
      // /.header__info
      .header__bell.bell
        button.bell__button.button(type='button')
          span.icon.button__icon-bell
          p.button__number 7
      // /.header__bell
      .header__cart.cart
        button.cart__button.button(type='button')
          span.icon.button__icon-cart
          p.button__number 7
      // /.header__cart
      .header__heart.heart
        button.heart__button.button(type='button')
          span.icon.button__icon-heart
          p.button__number 1
      // /.header__heart
      form.header__entrance.entrance(action='#')
        span.icon.entrance__icon-user
        button.entrance__button.button(type='button')
          span.button__text Войти
          i.fa.fa-chevron-down.button__icon-down(aria-hidden='true')
      // /.header__entrance
    // /.navbar-collapse
  // /.container
// /.header