.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.6em 25.8em;
}

.no-svg .icon:before {
    background-image: url("../img/svg-sprite.png");
}



  .icon.button__icon-cart:before {
      background-position: -0.2em -0.2em;
      width: 2.2em;
      height: 1.7em;
  }




  .icon.calculator__icon-calculator:before {
      background-position: -0.2em -2.3000000000000003em;
      width: 1.6em;
      height: 2.2em;
  }




  .icon.comfort__icon-breakfast:before {
      background-position: -0.2em -4.9em;
      width: 1.7em;
      height: 1.5em;
  }




  .icon.comfort__icon-conditioner:before {
      background-position: -0.2em -6.8em;
      width: 1.6em;
      height: 1.3em;
  }




  .icon.comfort__icon-depositbox:before {
      background-position: -0.2em -8.5em;
      width: 1.5em;
      height: 1.6em;
  }




  .icon.comfort__icon-fitness:before {
      background-position: -0.2em -10.5em;
      width: 1.7em;
      height: 0.9em;
  }




  .icon.comfort__icon-parking:before {
      background-position: -0.2em -11.799999999999999em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.comfort__icon-restaurant:before {
      background-position: -0.2em -13.7em;
      width: 1.3em;
      height: 1.6em;
  }




  .icon.comfort__icon-smoking:before {
      background-position: -0.2em -15.7em;
      width: 1.4em;
      height: 1.8em;
  }




  .icon.comfort__icon-spa:before {
      background-position: -0.2em -17.9em;
      width: 1.7em;
      height: 1.5em;
  }




  .icon.filters__icon-sliders:before {
      background-position: -0.2em -19.8em;
      width: 1.7em;
      height: 1.9em;
  }




  .icon.icon-calendar:before {
      background-position: -0.2em -22.099999999999998em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.reset-icon:before {
      background-position: -0.2em -24.099999999999998em;
      width: 1.5em;
      height: 1.5em;
  }





