@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "ALSRubl";
  src: url("../fonts/ALSRubl/rouble.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/Proxima Nova Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700; }

body {
  font-family: 'Roboto', sans-serif; }
  body * a:hover {
    text-decoration: none; }
  body * a:focus {
    text-decoration: none; }

.header .bell__button, .header .cart__button, .header .heart__button, .header .entrance__button {
  background: none;
  border: none;
  outline: none;
  padding: 0; }

.header .link:active, .header .entrance__button:active {
  position: relative;
  top: 2px;
  left: 0; }
  .header .link:active span, .header .entrance__button:active span, .header .link:active i, .header .entrance__button:active i {
    position: relative;
    left: 0; }

.header .link:focus span, .header .entrance__button:focus span, .header .link:focus i, .header .entrance__button:focus i {
  position: relative;
  left: 0; }

.header .bell, .header .cart, .header .heart, .header .entrance {
  height: 71px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  border-left: 1px solid #ebebeb; }

.header .bell__button, .header .cart__button, .header .heart__button {
  position: relative; }
  .header .bell__button:hover, .header .cart__button:hover, .header .heart__button:hover {
    opacity: 0.7; }
  .header .bell__button:active, .header .cart__button:active, .header .heart__button:active {
    margin-top: 0.25rem; }
    .header .bell__button:active .icon, .header .cart__button:active .icon, .header .heart__button:active .icon {
      position: relative;
      top: 0;
      left: 0; }
  .header .bell__button:focus .icon, .header .cart__button:focus .icon, .header .heart__button:focus .icon {
    position: relative;
    top: 0;
    left: 0; }

.header .bell__button .button__number, .header .cart__button .button__number, .header .heart__button .button__number {
  width: 19px;
  height: 19px;
  background: #ffc816;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  top: -10px; }

.navbar-collapse {
  padding: 0; }

.header {
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19);
          box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19); }
  .header__logo {
    margin-top: 10px;
    margin-right: 396px; }
  .header .logo {
    height: inherit;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .logo__icon {
      width: 43px;
      height: 43px;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #898989;
      margin-right: 15px; }
    .header .logo__text {
      color: #323232;
      font-size: 1.793rem;
      font-weight: 700;
      letter-spacing: 6.1px; }
  .header .trip {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .trip .wrap {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 1px solid #ffc816; }
    .header .trip__text {
      color: #2c2c2c;
      font-weight: 700;
      text-transform: uppercase; }
  .header .trip {
    height: 55px;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left;
    margin-right: 62px; }
    .header .trip .wrap {
      width: 30px;
      height: 30px;
      margin: 0 7px; }
    .header .trip__text {
      font-size: 0.738rem;
      letter-spacing: 0.97px;
      margin-top: 3px; }
  .header .link {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left;
    width: 221px;
    height: 35px;
    border: 1px solid #03a3f0;
    -webkit-border-radius: 16px 16px;
            border-radius: 16px 16px;
    text-transform: uppercase;
    color: #03a3f0;
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 17px;
    margin-right: 25px; }
    .header .link:hover {
      cursor: pointer;
      color: #2c2c2c;
      border-color: #ebebeb; }
  .header .info {
    display: inline-block;
    float: left;
    margin-top: 22px;
    margin-right: 20px; }
    .header .info__icon-phone {
      margin-right: 4px;
      color: #949494;
      font-size: 0.96rem; }
    .header .info__number {
      display: inline-block;
      font-size: 1rem;
      color: #2c2c2c;
      font-weight: 500;
      margin-bottom: 6px;
      letter-spacing: 0.62px; }
    .header .info__text {
      font-size: 0.563rem;
      color: #949494;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.9px;
      margin-left: 21px; }
  .header .bell {
    display: none;
    width: 70px; }
    .header .bell__button .button__number {
      right: -10px; }
  .header .cart {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 70px; }
    .header .cart__button .button__number {
      right: -11px; }
  .header .heart {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 70px; }
    .header .heart__button .button__number {
      right: -11px; }
  .header .entrance {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 160px;
    border-right: 1px solid #ebebeb; }
    .header .entrance:hover .entrance__icon-user {
      opacity: 0.5; }
    .header .entrance__icon-user {
      width: 27px;
      height: 27px;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 2px solid black;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: 10px; }
    .header .entrance__button .button__text {
      font-size: 1rem;
      color: #2c2c2c;
      margin-right: 8px; }
    .header .entrance__button .button__icon-down {
      font-size: 0.81rem;
      position: relative;
      top: -1px; }
    .header .entrance__button:hover {
      opacity: 0.7; }
  .header .second-menu {
    display: none;
    position: absolute;
    top: 0; }
    .header .second-menu .trip {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 60px;
      margin-right: -webkit-calc(100vw - 388px);
      margin-right: calc(100vw - 388px);
      margin-left: 91px; }
      .header .second-menu .trip__text {
        font-size: 0.623rem; }

.workspace {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #f8fafb), to(#f8fafb));
  background: -webkit-linear-gradient(left, white 50%, #f8fafb 50%, #f8fafb);
  background: -o-linear-gradient(left, white 50%, #f8fafb 50%, #f8fafb);
  background: linear-gradient(to right, white 50%, #f8fafb 50%, #f8fafb); }
  .workspace .settings {
    width: 305px; }
    .workspace .settings .trip {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .workspace .settings .trip .wrap {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #ffc816; }
      .workspace .settings .trip__text {
        color: #2c2c2c;
        font-weight: 700;
        text-transform: uppercase; }
    .workspace .settings .trip {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 62px; }
      .workspace .settings .trip__icon-arrow {
        display: none; }
      .workspace .settings .trip .wrap {
        width: 38px;
        height: 38px;
        margin-right: 11px; }
      .workspace .settings .trip__text {
        font-size: 0.938rem;
        letter-spacing: 1.16px;
        margin-top: 4px; }
    .workspace .settings .search-form {
      background: transparent; }
      .workspace .settings .search-form .quantity {
        background: transparent; }

.icon {
  font-size: 10px; }

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/svg-sprite.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 2.6em 11.5em;
          background-size: 2.6em 11.5em; }

.no-svg .icon:before {
  background-image: url("../img/svg-sprite.png"); }

.icon.button__icon-bell:before {
  background-position: -0.2em -0.2em;
  width: 1.7em;
  height: 2em; }

.icon.button__icon-cart:before {
  background-position: -0.2em -2.6em;
  width: 2.2em;
  height: 1.7em; }

.icon.button__icon-heart:before {
  background-position: -0.2em -4.7em;
  width: 2.1em;
  height: 1.9em; }

.icon.entrance__icon-user:before {
  background-position: -0.2em -7em;
  width: 1.3em;
  height: 1.3em; }

.icon.trip__icon-arrow:before {
  background-position: -0.2em -8.7em;
  width: 1.3em;
  height: 0.9em; }

.icon.trip__icon-suitcase:before {
  background-position: -0.2em -10em;
  width: 1.3em;
  height: 1.3em; }

.sprite {
  background: url(../img/png-sprite.png) no-repeat top left;
  width: 13px;
  display: block; }

.sprite.trip__icon-arrow {
  background-position: 0 0;
  height: 9px; }

.sprite.trip__icon-suitcase {
  background-position: 0 -14px;
  height: 13px; }

@media (min-width: 1280px) {
  .container {
    width: 1240px;
    padding: 0; } }

@media (min-width: 1200px) and (max-width: 1279px) {
  .header__logo {
    margin-right: 296px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 262px; } }

@media (min-width: 760px) and (max-width: 991px) {
  .header__logo {
    margin-top: 12px;
    margin-right: 20px; }
  .header .logo__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; }
  .header .logo__text {
    font-size: 1.343rem; }
  .header .trip {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .header .link {
    display: none; }
  .header .bell {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .header .bell, .header .cart, .header .heart, .header .entrance {
    height: 55px; } }

@media (max-width: 759px) {
  body {
    min-width: 375px; }
  .header__logo {
    margin-top: 17px;
    margin-right: 0; }
  .header .logo__icon {
    width: 27px;
    height: 27px;
    margin-right: 6px; }
  .header .logo__text {
    font-size: 1.219rem;
    letter-spacing: 3.4px; }
  .header .container > .navbar-collapse {
    margin-top: 60px; }
  .header .link {
    display: none; }
  .header .bell {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .header .cart {
    display: none; }
  .header .bell, .header .heart, .header .entrance {
    border: none; }
  .header .entrance {
    float: right; }
  .header__button {
    margin: 12px 0 11px 0;
    padding: 9px 0; }
    .header__button .icon-bar {
      width: 22px;
      height: 3px;
      background: black; }
  .header .second-menu {
    display: block; }
    .header .second-menu .cart {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      height: 60px; } }
