footer.footer
  .top
    .from-header
      include ../header/__link
      include ../header/__info
    .item
      ul.list
        li.list__item
          a.list__link(href='#') Личный кабинет
        li.list__item
          a.list__link(href='#') Служба поддержки
        li.list__item
          a.list__link(href='#') Пользовательское соглашение
        li.list__item
          a.list__link(href='#') Партнерская программа
      // /.list
    // /.item
    .item
      h5.item__heading Гостям
      ul.list
        li.list__item
          a.list__link(href='#') Как бронировать жильё
        li.list__item
          a.list__link(href='#') Гарантия заселения
        li.list__item
          a.list__link(href='#') Отзывы
      // /.list
    // /.item
    .item
      h5.item__heading Арендодателям
      ul.list
        li.list__item
          a.list__link(href='#') Как начать сдавать жильё
        li.list__item
          a.list__link(href='#') Предложить недвижимость
        li.list__item
          a.list__link(href='#') Помощь
      // /.list
    // /.item
    .item
      h5.item__heading О компании
      ul.list
        li.list__item
          a.list__link(href='#') О ГАН
        li.list__item
          a.list__link(href='#') Вакансии
        li.list__item
          a.list__link(href='#') Контакты
      // /.list
    // /.item
  // /.top
  hr.footer__line
  .bottom
    p.bottom__text © 2011—2017. Гипермаркет аренды недвижимости
    .bottom__socials
      a.wrapper(href='https://twitter.com/' title='https://twitter.com/' target='_blank')
        i.fa.fa-twitter(aria-hidden='true')
      a.wrapper(href='https://ru-ru.facebook.com/' title='https://ru-ru.facebook.com/' target='_blank')
        i.fa.fa-facebook(aria-hidden='true')
      a.wrapper(href='https://plus.google.com/' title='https://plus.google.com/' target='_blank')
        i.fa.fa-google-plus(aria-hidden='true')
      a.wrapper(href='https://www.instagram.com/' title='https://www.instagram.com/' target='_blank')
        i.fa.fa-instagram(aria-hidden='true')
    // /.bottom__socials
    p.bottom__text Создание и разработка сервиса: Название
  // /.bottom
// /.footer