@media (min-width: 992px) and (max-width: 1199px)
  .header

    &__logo
      margin-right: 262px

  .workspace

    .settings
      margin-left: -5px

    .content

      .calc-content

        .btn-show
          left: 48.8%

          &:active
            left: 48.8%

        &__link, .fa-long-arrow-right
          display: none

      .steps

        .item-tickets

          .item__sum
            margin-left: 24px

        .item-tickets, .item-residence, .item-transfer, .item-service
          padding: 0 3px
          height: 126px

      .settings2

        .search-form

          .sort

            &__item
              font-size: 0.75rem

          .map-button
            width: 70px

            .fa-map-marker
              font-size: 1.6rem

            &__text
              font-size: 0.75rem
              margin-left: 6px