@media (max-width: 759px)
  body
    min-width: 375px

  .header

    &__logo
      margin-top: 17px
      margin-right: 0

    .logo__icon
      width: 27px
      height: 27px
      margin-right: 6px

    .logo__text
      font-size: 1.219rem
      letter-spacing: 3.4px

    .container > .navbar-collapse
      margin-top: 60px

    .trip, .link, .cart
      display: none

    .bell
      display: inline-flex

    .bell, .heart, .entrance
      border: none

    .entrance
      float: right

    .collapse
      display: none
      border-top: 1px solid transparent

    .collapse.in
      display: block

    &__button
      display: block
      margin: 12px 0 11px 0
      padding: 9px 0

      .icon-bar
        width: 22px
        height: 3px
        background: $black

      &:hover
        opacity: 0.7

      &:active

        .icon-bar
          position: relative
          left: 0

    .second-menu
      display: block

      .cart
        display: inline-flex
        border: none
        height: 60px

  .workspace

    .settings
      display: none

    .content
      float: none
      width: 100%
      padding: 0

      .calc-content
        display: none

      .steps
        width: calc(100vw - 17px)
        margin-top: 0
        margin-left: -15px
        border-radius: 0

        .item-tickets, .item-residence, .item-transfer, .item-service
          height: 67px
          padding-top: 6px

          .icon-wrap
            width: auto
            height: 21px
            top: 0
            border: none
            background: transparent
            margin-bottom: 4px

          .item__heading
            font-size: 0.563rem
            margin-bottom: 5px

        .item-tickets

          .icon-wrap

            .fa-ticket
              font-size: 1.25rem

          .item__sum
            margin-left: 0

            .text
              font-size: 0.75rem
              font-weight: 500

            .fa-rub
              font-size: 0.718rem
              margin-left: 6px

          .item__button-delete, .item__tip
            display: none

        .item-residence

          .icon-wrap

            .fa-building
              font-size: 1.05rem

          .item__tip

            .text_strong, .text
              color: $black3
              font-size: 0.625rem
              font-weight: 300

          .item__price
            display: none

        .item-transfer, .item-service

          .icon-wrap

            .fa
              color: $grey16

          .item__heading
            color: $grey16

          .item__tip
            color: $grey16
            font-size: 0.625rem
            font-weight: 300

      .settings2
        width: calc(100vw - 17px)
        margin-left: -15px
        background: $blue3
        padding: 23px 6px

        .search-form

          .city, .date, .person
            display: inline-flex

          .sort
            display: none

          .map-button
            float: none
            margin-top: 7px
            border-radius: 3px
            background: $white
            width: calc(25% - 3px)
            height: 40px

            .fa-map-marker
              font-size: 1.3rem
              color: $yellow

            &__text
              color: $blue4
              font-size: 0.625rem
              font-weight: 700
              margin-left: 7px

            &:hover
              opacity: 0.95

          .filter-button, .sort-button
            display: inline-flex
            align-items: center
            justify-content: center
            margin-top: 7px
            border-radius: 3px
            background: $white
            height: 40px

            .fa
              color: $yellow

            &__text
              color: $blue4
              font-size: 0.625rem
              font-weight: 700
              margin-left: 7px
              text-transform: uppercase

            &:hover
              opacity: 0.95

          .filter-button
            width: calc(37.5% - 2px)

            .fa-sliders
              transform: rotate(-90deg)
              font-size: 1.3rem

          .sort-button
            width: calc(37.5% - 3px)

            .fa-sort-amount-asc
              font-size: 1.25rem