@media (min-width: 760px) and (max-width: 991px)
  .header__logo
    margin-top: 12px
    margin-right: 20px

  .logo__icon
    width: 30px
    height: 30px
    margin-right: 10px

  .logo__text
    font-size: 1.343rem

  .header__trip
    display: inline-flex

  .header__link
    display: none

  .header__bell
    display: inline-flex !important

  .header__cart
    height: 55px