@media (max-width: 1199px)
  .header
    &__logo
      margin-right: 262px

  .workspace
    .settings
      margin-left: -5px

    .content
      .calc-content
        &__link, .fa-long-arrow-right
          display: none
