@media (max-width: 759px)
  body
    min-width: 375px

  .header__link
    display: none

  .header__button
    margin-right: 0
    .icon-bar
      width: 22px
      height: 3px
      background: $black