@media (min-width: 760px) and (max-width: 991px)
  .header

    &__logo
      margin-top: 12px
      margin-right: 20px
      margin-left: -5px

    .logo__icon
      width: 30px
      height: 30px
      margin-right: 10px

    .logo__text
      font-size: 1.343rem

    .trip
      display: inline-flex
      margin-right: 73px

    .link
      display: none

    .bell
      display: inline-flex

    .bell, .cart, .heart, .entrance
      height: 55px

    .collapse
      display: block
      border-top: 0
      margin-right: -14px !important

    &__button
      display: none

  .workspace

    .settings
      margin-left: 0
      padding-left: 13px
      padding-right: 12px

      .calculator, .filters
        display: block

      .calculator__indicator_visible
        visibility: visible

      .button-icon_grey
        color: $grey8 !important

      .trip
        height: 57px
        display: none
        visibility: hidden

      &__line
        display: none

      .search-form
        display: none

      .hide-elem
        display: none

      .trip_visible
        display: inline-flex

      .show-elem
        display: block

    .settings_padding
      padding: 0 20px

    .content
      width: calc(100% - 35px)
      padding-right: 0

      .calc-content
        display: none

        .btn-show
          display: none

        .input
          margin-top: 15px

        .fa-long-arrow-right, .calc-content__link
          display: none

        &__button
          margin-top: 22px

          .btn-text
            font-size: 0.563rem

          .fa-chevron-up
            transform: rotate(-90deg)
            position: relative
            top: 1px

        &__line
          margin: 12px 0 0 -21px

      .show-elem
        display: block !important

      .show-elem_inline
        display: inline-block !important

      .steps

        .item-tickets, .item-residence, .item-transfer, .item-service
          height: 96px

          .icon-wrap
            margin-bottom: -8px

          .item__heading
            font-size: 0.75rem
            margin-bottom: 9px

        .item-tickets

          .item__sum
            margin-left: 27px

            .text
              font-size:  1.188rem

            .fa-rub
              font-size: 1.05rem

          .item__button-delete
            margin-left: 12px
            top: -1px

          .item__tip
            margin-top: 9px
            color: $blue2

        .item-residence

          .item__tip, .item__price

            .text, .text_strong
              font-size: 0.75rem

        .item-transfer, .item-service

          .icon-wrap

            .fa
              color: $grey16

          .item__heading
            color: $grey16

          .item__tip
            color: $grey16
            font-size: 0.75rem
            letter-spacing: -0.85px

      .settings2

        .search-form

          .btn.active, .btn:active
            outline: none !important
            background: $blue2

          .sort
            margin-top: 35px

            &__item
              font-size: 0.77rem
              padding: 6px 7px

          .map-button
            width: 90px
            margin-top: 24px

            .fa-map-marker
              color: $blue2
              font-size: 1.6rem

            .visible-sm
              display: inline !important

            &__text
              font-size: 0.75rem
              margin-left: 7px

      .hotels
        margin-top: 18px

        .hotels__item_default_sm
          margin-bottom: 11px

          .images
            width: 100%
            display: inline-flex
            justify-content: space-between
            margin-bottom: 14px

          .item__img
            display: none

          .column1
            margin-left: 0
            float: none

            .item__heading
              margin-top: 0
              font-size: 1.25rem
              color: $blue2

            .item__address
              margin-bottom: 13px

            .map
              margin-top: 0
              float: left

              .map__link
                font-size: 0.688rem
                color: $blue2
                text-transform: uppercase
                position: relative
                z-index: 2

            .item__rooms
              display: none

            .warning
              margin-left: 0
              float: right
              margin-top: 96px

            .comfort
              position: absolute
              right: 0
              margin: 0
              display: inline-flex
              align-items: center

              .comfort__item
                margin: 0

                .text
                  display: none

          .column2
            top: 140px
            width: calc(100% - 20px)

            .rating
              margin-top: 0

            .reviews
              color: $blue2
              font-weight: 500

            .wrap
              margin-top: 52px
              width: 100%

              .like-button
                margin-right: 0
                position: absolute
                top: 0
                right: 109px

                &:active
                  position: absolute
                  left: inherit

              .choose-button
                width: 100%

                .price
                  position: static
                  text-align: center
                  display: inline-block
                  margin-left: 240px
                  margin-right: 30px

                  .main
                    color: $grey4
                    font-size: 1rem
                    font-weight: 400

                  .main_strong
                    color: $grey4
                    font-size: 1.75rem

                  .fa-rub
                    font-size: 1.55rem

                  br
                    display: none

                  .info
                    vertical-align: text-top
                    margin-left: 7px

                .choose-button__text, .fa-chevron-right
                  vertical-align: text-top

                .fa-chevron-right
                  margin-left: 7px
                  margin-top: 1px

            .extra-info
              font-size: 0.813rem
              color: $grey16

        .item.ibis
          @extend .hotels__item_default_sm

          .column1

            .comfort

              .comfort__item

                .comfort__icon-breakfast
                  position: relative
                  top: -2px