.city
  label.city__text(for='city') Город назначения
  br
  input.city__input-text(type='text', placeholder='Омск', id='city', required)
  button.button-reset(type='button')
    i.fa.fa-times.button-reset__icon-cross(aria-hidden='true')
// /.city