.date
  .occupancy
    label.occupancy__text(for='occupancy') Заезд
    br
    input.occupancy__input-date(type='text', placeholder='05.07.2017', id='occupancy', required)
    span.icon.icon-calendar
  // /.occupancy
  .leave
    label.leave__text(for='leave') Выезд
    br
    input.leave__input-date(type='text', placeholder='15.07.2017', id='leave', required)
    span.icon.icon-calendar
  // /.leave
// /.date