.place
  label.place__text(for='place') Адрес/название нужного места
  br
  input.place__input-text(type='text', placeholder='КДЦ Маяковский', id='place')
  button.button-reset(type='button')
    i.fa.fa-times.button-reset__icon-cross(aria-hidden='true')
// /.place