.person
  label.person__text Гостей
  br
  i.fa.fa-male.person__icon-man(aria-hidden='true')
  //span.icon.person__icon-man
  select.input-number
    option.input-number__item 1
    option.input-number__item(selected) 2
    option.input-number__item 3
    option.input-number__item 4
    option.input-number__item 5
  // /.input-number
// /.person