.room
  label.room__text Номеров/Комнат
  br
  select.input-number
    option.input-number__item 1
    option.input-number__item(selected) 2
    option.input-number__item 3
    option.input-number__item 4
    option.input-number__item 5
  // /.input-number
// /.room