.variant
  p.heading Варианты размещения
    span.icon.heading__icon-question
  input.variant__checkbox(type='checkbox' id='hotel')
  label.variant__checkbox-text(for='hotel') Отель
  br
  input.variant__checkbox(type='checkbox' id='apartments')
  label.variant__checkbox-text(for='apartments') Аппартаменты
  br
  input.variant__checkbox(type='checkbox' id='hostel')
  label.variant__checkbox-text(for='hostel') Хостел
  br
// /.variant