.variant
  p.heading Варианты размещения
    i.fa.fa-question-circle.heading__icon-question(aria-hidden="true")
  .variant__checkbox
    input(type='checkbox' id='hotel')
    label(for='hotel')
  span.variant__checkbox-text Отель
  br
  .variant__checkbox
    input(type='checkbox' id='apartments')
    label(for='apartments')
  span.variant__checkbox-text Аппартаменты
  br
  .variant__checkbox
    input(type='checkbox' id='hostel')
    label(for='hostel')
  span.variant__checkbox-text Хостел
  br
// /.variant