aside.settings
  include ../../header/__trip
  hr.settings__line
  form.search-form(action='#')
    include ___city
    include ___date
    br
    .quantity
      include ___person
      include ___room
    // /.quantity
    .search-form__checkbox
      input(type='checkbox' id='bed')
      label(for='bed')
    span.search-form__checkbox-text Отдельные кровати
    include ___place
    p.search-form__info-text Подберём варианты поблизости от&nbsp;нужного адреса/метро/организации
    include ___variant
    include ___price
    hr.search-form__line
    .comfort
      p.heading
        a.heading__link(role="button" data-toggle="collapse" href="#comfort-content" aria-expanded="true" aria-controls="comfort-content")
          | Дополнительные удобства
          i.fa.fa-chevron-down.icon-down(aria-hidden="true")
      // /.heading
      .comfort-collapse.collapse#comfort-content
        .comfort__body
          .comfort__checkbox
            input(type='checkbox' id='conditioner')
            label(for='conditioner')
          span.icon.comfort__icon-conditioner
          span.comfort__checkbox-text Кондиционер
          br
          .comfort__checkbox
            input(type='checkbox' id='wifi')
            label(for='wifi')
          span.icon.comfort__icon-wifi
          span.comfort__checkbox-text Wi-Fi в номере
          br
          .comfort__checkbox
            input(type='checkbox' id='breakfast')
            label(for='breakfast')
          span.icon.comfort__icon-breakfast
          span.comfort__checkbox-text Бесплатный завтрак
          br
          .comfort__checkbox
            input(type='checkbox' id='booking')
            label(for='booking')
          span.icon.comfort__icon-booking
          span.comfort__checkbox-text Бесплатная отмена бронирования
          br
          .comfort__checkbox
            input(type='checkbox' id='parking')
            label(for='parking')
          span.icon.comfort__icon-parking
          span.comfort__checkbox-text Парковка
          br
          .comfort__checkbox
            input(type='checkbox' id='bar')
            label(for='bar')
          span.icon.comfort__icon-bar
          span.comfort__checkbox-text Мини-бар в номере
          br
          .comfort__checkbox
            input(type='checkbox' id='kitchen')
            label(for='kitchen')
          span.icon.comfort__icon-kitchen
          span.comfort__checkbox-text Кухня
          br
          .comfort__checkbox
            input(type='checkbox' id='transfer')
            label(for='transfer')
          span.icon.comfort__icon-transfer
          span.comfort__checkbox-text Трансфер от/до аэропорта
          br
          .comfort__checkbox
            input(type='checkbox' id='animals')
            label(for='animals')
          span.icon.comfort__icon-animals
          span.comfort__checkbox-text Размещение с животными
          br
          .comfort__checkbox
            input(type='checkbox' id='spa')
            label(for='spa')
          span.icon.comfort__icon-spa
          span.comfort__checkbox-text Спа/Сауна
          br
          .comfort__checkbox
            input(type='checkbox' id='restaurant')
            label(for='restaurant')
          span.icon.comfort__icon-restaurant
          span.comfort__checkbox-text Ресторан
          br
          .comfort__checkbox
            input(type='checkbox' id='smoking')
            label(for='smoking')
          span.icon.comfort__icon-smoking
          span.comfort__checkbox-text Место для курения
          br
          .comfort__checkbox
            input(type='checkbox' id='fitness')
            label(for='fitness')
          span.icon.comfort__icon-fitness
          span.comfort__checkbox-text Фитнес-центр
          br
          .comfort__checkbox
            input(type='checkbox' id='bathroom')
            label(for='bathroom')
          span.icon.comfort__icon-bathroom
          span.comfort__checkbox-text Ванная комната в номере
          br
          .comfort__checkbox
            input(type='checkbox' id='depositbox')
            label(for='depositbox')
          span.icon.comfort__icon-depositbox
          span.comfort__checkbox-text Сейф в номере
          br
        // /.comfort__body
      // /.comfort-collapse
    // /.comfort
    hr.search-form__line_bottom
  // /.search-form
// /.settings