%search-form__item-default
  background: $white3
  padding: 5px 9px 9px

%item__text-default
  color: $grey3
  font-size: 0.813rem
  margin-bottom: 8px

%item__input-default
  border: none
  outline: none
  background: transparent
  color: $black
  font-size: 0.938rem
  line-height: normal

  &::-webkit-input-placeholder
    color: $grey6

  &::-moz-placeholder
    color: $grey6

  &:-moz-placeholder
    color: $grey6

  &:-ms-input-placeholder
    color: $grey6

  &:focus::-webkit-input-placeholder
    color: transparent

  &:focus::-moz-placeholder
    color: transparent

  &:focus:-moz-placeholder
    color: transparent

  &:focus:-ms-input-placeholder
    color: transparent

  &::-ms-clear
    display: none

%item__btn-default
  @extend %btn-default
  @extend %btn-opacity
  float: right
  color: $grey7
  visibility: hidden

%checkbox-default
  width: 17px
  position: relative
  float: left

  label
    width: 17px
    height: 17px
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    background: transparent
    border: 1px solid $grey8
    border-radius: 3px

    &:after
      content: ''
      width: 9px
      height: 5px
      position: absolute
      top: 4px
      left: 0.21rem
      border: 2px solid $white
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      transform: rotate(-45deg)

    &:hover
      border: 1px solid $blue

  input[type=checkbox]
    visibility: hidden

    &:checked + label
      background: $blue
      border-color: $blue

    &:checked + label:after
      opacity: 1

    &:checked:hover + label
      opacity: 0.8

.settings
  background: $white
  box-shadow: 0 1px 21px 0 rgba(34, 31, 31, 0.13)
  padding: 0 20px
  margin-left: -20px
  float: left
  position: absolute
  left: 0
  top: 0
  height: 100%
  z-index: 2

  &__button-hide
    @extend %btn-default
    @extend %btn-opacity
    float: right
    margin-top: 10px
    display: none

    .fa-minus
      color: $grey7

  .calculator
    display: none

    &__indicator
      visibility: hidden
      width: 4px
      height: 60px
      background: $yellow
      margin-left: -20px
      float: left

    &__button
      @extend %btn-default
      @extend %btn-animation
      margin-top: 21px
      margin-bottom: 16px

      .fa-calculator
        font-size: 1.4rem
        color: $blue2
        margin-left: 1px

    &__line
      margin: 0 -20px
      width: 63px
      border-top-color: $white4

  .filters
    display: none
    float: left
    clear: both

    &__button
      @extend %btn-default
      @extend %btn-animation
      margin-top: 19px

      .fa-sliders
        color: $blue2
        transform: rotate(-90deg)
        font-size: 1.4rem

  @import '../../header/__trip'

  .trip
    display: inline-flex
    height: 62px

    .fa-long-arrow-right
      display: none

    .wrap
      width: 38px
      height: 38px
      margin-right: 11px

      .fa-briefcase
        font-size: 1rem

    &__text
      font-size: 0.938rem
      letter-spacing: 1.16px
      margin-top: 4px

  &__line
    margin-top: 0
    margin-left: -20px
    margin-right: -20px
    width: 305px
    border-top-color: $white4

  .search-form

    @import '___city'

    @import '___date'

    .quantity
      width: 265px
      border: 1px solid $white2
      border-radius: 3px
      margin-bottom: 20px
      float: left

      @import '___person'

      @import '___room'

    &__checkbox
      @extend %checkbox-default
      margin-bottom: 22px
      clear: left

    &__checkbox-text
      color: $grey9
      font-size: 0.938rem
      margin-top: 2px
      margin-left: 7px
      float: left

    @import '___place'

    &__info-text
      color: $grey4
      font-size: 0.813rem
      font-weight: 300
      line-height: 15px
      margin-bottom: 29px
      float: left
      clear: both

    @import '___variant'

    @import '___price'

    &__line
      margin: 0 -20px 30px
      width: 305px
      border-top-color: $white4
      float: left
      clear: both

    .comfort
      float: left
      clear: both

      .heading
        width: 265px

        &__link
          color: $grey4
          font-size: 0.938rem
          font-weight: 700

          &:hover
            color: $grey

          .icon-down
            color: $grey13
            font-size: 0.875rem
            float: right

      &__body
        margin-top: 20px
        margin-bottom: -20px

        .icon
          position: relative
          top: -2px

        .comfort__icon-conditioner
          margin-left: 10px
          margin-right: 6px

        .fa-wifi
          margin-left: 9px
          margin-right: 5px

        .comfort__icon-breakfast
          margin-left: 9px
          margin-right: 6px

        .fa-bookmark
          margin-left: 12px
          margin-right: 8px
          float: left

        .comfort__icon-parking
          margin-left: 11px
          margin-right: 6px

        .fa-glass
          margin-left: 11px
          margin-right: 5px

        .fa-cutlery
          margin-left: 13px
          margin-right: 8px

        .fa-car
          margin-left: 10px
          margin-right: 5px

        .fa-paw
          margin-left: 12px
          margin-right: 7px

        .comfort__icon-spa
          margin-left: 12px
          margin-right: 6px

        .comfort__icon-restaurant
          margin-left: 14px
          margin-right: 9px

        .comfort__icon-smoking
          margin-left: 12px
          margin-right: 10px

        .comfort__icon-fitness
          margin-left: 12px
          margin-right: 8px

        .fa-bath
          margin-left: 13px
          margin-right: 8px

        .comfort__icon-depositbox
          margin-left: 14px
          margin-right: 8px

      &__checkbox
        @extend %checkbox-default
        margin-bottom: 17px

      &__checkbox-text
        color: $grey12
        font-size: 0.875rem
        display: inline-block
        margin: 0 0 21px 0
        line-height: 18px

    &__line_bottom
      margin: 30px -20px 0
      width: 305px
      border-top-color: $white4
      float: left
      clear: both