.content
  width: calc(100% - 299px)
  padding: 0 15px
  float: right

  .calc-content
    position: relative
    min-height: 16px

    .btn-show
      @extend %btn-default
      @extend %btn-opacity

      display: none
      position: absolute
      left: 49.2%

      .fa-chevron-down
        font-size: 0.88rem
        color: $blue2

      &:active
        position: relative
        left: 49.2%

    .text

      &__item
        color: $grey4
        font-size: 0.688rem
        text-transform: uppercase
        font-weight: 500

      .fa-male
        color: $grey
        font-size: 1.2rem
        position: relative
        top: -2px
        margin: 0 4px

      &__item_big
        margin-left: 4px
        font-size: 1.063rem

    .input
      display: inline-block
      margin-top: 18px
      width: 110px
      padding: 4px 0
      background: $white
      border: 1px solid $white4
      border-radius: 3px
      box-shadow: 0 1px 1px 0 rgba(34, 31, 31, 0.05)

      &__sum
        width: 81px
        padding-left: 12px
        background: transparent
        border: none
        outline: none
        color: $grey2
        font-size: 1.063rem
        font-weight: 700
        line-height: 1.25rem
        letter-spacing: 0.7px

        &::-webkit-input-placeholder
          color: $grey9

        &::-moz-placeholder
          color: $grey9

        &:-moz-placeholder
          color: $grey9

        &:-ms-input-placeholder
          color: $grey9

        &:focus::-webkit-input-placeholder
          color: transparent

        &:focus::-moz-placeholder
          color: transparent

        &:focus:-moz-placeholder
          color: transparent

        &:focus:-ms-input-placeholder
          color: transparent

        &:focus + .input__rouble
          color: $grey2

        &::-ms-clear
          display: none

      &__rouble
        font-family: "ALSRubl", sans-serif
        color: $grey9
        font-size: 1.063rem
        font-weight: 600

    .calculation
      display: inline-block
      margin-left: 5px

      &__item
        color: $grey4
        font-size: 1.063rem
        font-weight: 700

      .sale-rouble
        font-family: "ALSRubl", sans-serif
        color: $grey4
        font-size: 1.063rem
        font-weight: 600
        margin-left: 3px
        margin-right: 3px

      .fa-ticket
        color: $grey13
        font-size: 1.13rem
        margin-right: 4px

      &__result
        margin-left: 7px
        color: $green
        font-size: 1.063rem
        font-weight: 500

      .result-rouble
        font-family: "ALSRubl", sans-serif
        color: $green
        font-size: 1.063rem
        font-weight: 600
        margin-left: 3px

    .fa-long-arrow-right
      margin-left: 18px
      margin-right: 5px
      color: $yellow

    &__link
      text-transform: uppercase
      color: $yellow
      font-size: 0.688rem
      font-weight: 700
      position: relative
      top: -1.7px

      &:hover
        opacity: 0.7

      &:active
        position: relative
        top: 0.1px

    &__button
      @extend %btn-default
      @extend %btn-opacity
      float: right
      margin-top: 25px

      .btn-text
        color: $grey8
        font-size: 0.688rem
        text-transform: uppercase
        letter-spacing: 1.2px

      .fa-chevron-up
        font-size: 0.88rem
        color: $grey8
        margin-left: 10px

    &__line
      margin: 12px 0 0 -28px
      width: 100vw
      border-top-color: $white4

    .calc-content_hide-elem
      display: none

    .calc-content_show-elem
      display: block

  .steps
    width: 100%
    margin-top: 36px
    display: inline-flex
    background: $white
    border-radius: 3px
    box-shadow: 0 1px 3px 0 rgba(34, 31, 31, 0.3)
    text-align: center

    %steps__item_default
      width: 25%
      height: 112px
      position: relative

      %icon-wrap_default
        width: 38px
        height: 38px
        background: $white
        border: 1px solid
        border-radius: 50%
        display: inline-flex
        align-items: center
        justify-content: center
        position: relative
        top: -19px
        margin-bottom: -5px

      %item__heading_default
        font-size: 0.875rem
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1.3px
        margin-bottom: 13px

    .item-tickets
      @extend %steps__item_default
      border-right: 1px solid $white5

      .icon-wrap
        @extend %icon-wrap_default
        border-color: $green

        .fa-ticket
          color: $green
          font-size: 1.38rem

      .item__heading
        @extend %item__heading_default
        color: $grey2

      .item__sum
        color: $grey4
        display: inline-block
        margin-left: 34px

        .text
          font-size: 1.25rem
          font-weight: 700

        .fa-rub
          font-size: 1.1rem
          margin-left: 8px

      .item__button-delete
        @extend %btn-default
        @extend %btn-opacity

        margin-left: 16px
        position: relative
        top: -2px

        &:active
          top: 0.1px

        .fa-trash
          color: $grey7

      .item__tip
        color: $blue
        font-size: 0.626rem
        text-transform: uppercase
        margin-top: 12px
        letter-spacing: 1.57px
        margin-left: 6px

    .item-residence
      @extend %steps__item_default
      border-right: 1px solid $white5

      .icon-wrap
        @extend %icon-wrap_default
        border-color: $yellow

        .fa-building
          color: $yellow
          font-size: 1.1rem

      .item__heading
        @extend %item__heading_default
        color: $grey2

      .item__tip
        color: $grey4
        font-size: 0.813rem
        margin-bottom: 9px

        .text_strong
          font-weight: 700

      .item__price
        color: $grey4
        font-size: 0.813rem

        .text_strong
          font-weight: 700

        .fa-rub
          font-size: 0.72rem
          margin-left: 5px

      .item__indicator
        width: 100%
        height: 4px
        background: $yellow
        position: absolute
        bottom: 0

    .item-transfer
      @extend %steps__item_default
      border-right: 1px solid $white5

      .icon-wrap
        @extend %icon-wrap_default
        border-color: $grey14

        .fa-car
          color: $grey
          font-size: 1.05rem

      .item__heading
        @extend %item__heading_default
        color: $grey15

      .item__tip
        color: $grey4
        font-size: 0.813rem
        font-weight: 300
        line-height: 14px

    .item-service
      @extend %steps__item_default

      .icon-wrap
        @extend %icon-wrap_default
        border-color: $grey14

        .fa-star
          color: $grey
          font-size: 1.3rem

      .item__heading
        @extend %item__heading_default
        color: $grey15

      .item__tip
        color: $grey4
        font-size: 0.813rem
        font-weight: 300
        line-height: 14px

  .settings2

    .search-form

      .city, .date, .person
        display: none

        label, br
          display: none

      .city
        @extend %search-form__item-default
        width: calc(25% - 2px)
        height: 48px
        border-radius: 3px 0 0 3px
        padding: 11px 11px
        align-items: center
        float: left

        &__input-text
          @extend %item__input-default
          width: 85%
          font-size: 0.813rem
          text-align: center

        .button-reset
          @extend %item__btn-default

          .fa-times
            font-size: 0.9rem

      .date
        width: calc(50% + 7px)
        background: $white3
        border-right: 1px solid $white4
        border-left: 1px solid $white4
        margin-left: -2px
        justify-content: center
        float: left

      .occupancy
        @extend %search-form__item-default
        width: 85px
        display: inline-flex
        height: 48px
        padding: 11px 0
        align-items: center
        flex-direction: row-reverse
        justify-content: flex-end
        margin-right: 6px

        &__input-date
          @extend %item__input-default
          font-size: 0.813rem
          width: 60px
          letter-spacing: -1px

        .icon-calendar
          margin-right: 10px

      .leave
        @extend %search-form__item-default
        width: 85px
        display: inline-flex
        height: 48px
        padding: 11px 0
        align-items: center

        &__input-date
          @extend %item__input-default
          font-size: 0.813rem
          width: 60px
          letter-spacing: -1px

        .icon-calendar
          display: none

        &:before
          content:  "—"
          position: relative
          left: -4px
          color: $grey6

      .person
        @extend %search-form__item-default
        width: calc(25% - 3px)
        height: 48px
        border-radius: 0 3px 3px 0
        padding: 11px 11px
        float: left

        .person__icon-man
          color: $grey7
          margin-top: 3px
          margin-right: 4px

        .input-number
          @extend %item__input-default
          width: 88.2%

      .btn-group>.btn
        border-radius: 3px !important

      .btn.focus, .btn:focus
        outline: none !important

      .btn.active, .btn:active
        outline: none !important
        background: $blue
        color: $white

      .sort
        margin-top: 45px

        &__item
          padding: 6px 8px
          font-size: 0.813rem
          color: $grey4
          line-height: inherit
          border-radius: 3px
          margin-right: 5px
          background: $white6
          border: none

          &:hover
            box-shadow: 0 1px 3px 0 rgba(34, 31, 31, 0.3)

      .map-button
        @extend %btn-default
        @extend %btn-animation

        width: 200px
        height: 45px
        background: url(../img/map-button_bg.jpg)
        background-size: cover
        border-radius: 5px
        display: inline-flex
        align-items: center
        justify-content: center
        float: right
        margin-top: 34px

        .fa-map-marker
          font-size: 1.85rem
          color: $blue

        &__text
          font-size: 0.813rem
          font-weight: 700
          color: $grey4
          text-transform: uppercase
          margin-left: 9px

        &:hover
          box-shadow: 0 1px 3px 0 rgba(34, 31, 31, 0.3)

      .filter-button, .sort-button
        @extend %btn-default
        @extend %btn-opacity
        @extend %btn-animation

        display: none

  .hotels
    margin-top: 20px

    %hotels__item_default
      width: 100%
      background: $white
      padding: 10px 10px
      border-radius: 3px
      box-shadow: 0 1px 3px 0 rgba(34, 31, 31, 0.3)
      display: inline-block
      margin-bottom: 14px
      position: relative

      .images
        display: none

      .notice
        width: 138px
        height: 24px
        background: $green2
        border-radius: 4px
        box-shadow: 0 1px 0 0 rgba(34, 31, 31, 0.54)
        font-family: 'ProximaNova', sans-serif
        color: $white
        font-size: 0.688rem
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0.85px
        display: none
        align-items: center
        justify-content: center
        position: absolute
        top: 20px
        left: -11px

      .item__img
        float: left

      .column1
        float: left
        margin-left: 15px

        .item__heading
          color: $blue
          font-size: 1.375rem
          font-weight: 300
          margin-top: 7px

        .item__address
          color: $grey4
          font-size: 0.938rem
          margin-top: 9px

        .map
          margin-top: 13px

          .fa
            color: $blue
            font-size: 1.1rem
            margin-right: 5px
            position: relative
            top: 1px

          &__text
            color: $grey16
            font-size: 0.625rem
            text-transform: uppercase

          &__link
            color: $grey4
            font-size: 0.75rem
            text-decoration: underline
            margin-left: 9px

            @extend %btn-opacity

        .item__rooms
          margin-top: 25px

          .text
            color: $grey4
            font-size: 0.875rem

        .warning
          color: $red
          font-size: 0.813rem
          font-weight: 700
          margin-top: 9px

        .comfort
          margin-top: 24px

          &__item
            margin-bottom: 14px

            .text
              color: $grey4
              font-size: 0.75rem

      .column2
        position: absolute
        top: 10px
        right: 10px

        .rating
          float: right
          color: $grey4
          font-weight: 700
          margin-top: 10px

          .text_strong
            font-size: 1.125rem

        .reviews
          display: inline-block
          float: right
          clear: right
          margin-top: 14px
          color: $blue
          font-size: 0.688rem
          text-decoration: underline

          @extend %btn-opacity

        .wrap
          float: right
          clear: right
          margin-top: 118px

          .like-button
            @extend %btn-default
            @extend %btn-opacity

            margin-right: 20px
            position: relative
            top: 4px

            .fa-heart-o
              color: $grey13
              font-size: 1.44rem

            .fa-heart
              color: $grey5
              font-size: 1.44rem
              display: none

          .like-button_checked

            .fa-heart-o
              display: none

            .fa-heart
              display: inline-block

          .choose-button
            @extend %btn-default

            width: 200px
            height: 50px
            background: $yellow
            border-radius: 3px
            color: $white

            &__text
              font-size: 0.813rem
              font-weight: 700
              text-transform: uppercase
              letter-spacing: 1.4px

            .fa-chevron-right
              font-size: 0.75rem
              margin-left: 21px

            &:hover
              background: rgba(255, 200, 22, .8)

            &:active
              position: static
              background: rgba(255, 160, 52, 1)

            .sale, .sale-info, .price
              cursor: default
              pointer-events: none

            .sale
              position: absolute
              top: 72px
              right: -16px
              width: 72px
              height: 30px
              background: $red2
              align-items: center
              justify-content: center
              border-radius: 4px
              box-shadow: 0 1px 0 0 rgba(34, 31, 31, 0.54)
              color: $white
              font-size: 1.5rem
              font-weight: 700

            .sale-info
              position: absolute
              top: 120px
              right: 124px
              color: $red
              text-decoration: line-through

              .main
                font-size: 1.129rem
                color: $black4

              .fa-rub
                color: $black4

            .price
              position: absolute
              top: 114px
              right: 0
              color: $black4
              text-align: right

              .main
                font-size: 1.125rem
                font-weight: 700

              .main_strong
                font-size: 1.875rem
                font-weight: 700

              .fa-rub
                font-size: 1.73rem


              .info
                color: $grey4
                font-size: 0.813rem

        .extra-info
          float: right
          clear: right
          color: $grey4
          font-size: 0.75rem
          margin-top: 7px

    .item.ibis
      @extend %hotels__item_default

      .column1

        .item__rooms

          .fa-bed
            margin-right: 9px

        .warning
          margin-left: 28px
          visibility: hidden

        .comfort

          &__item

            .fa-car
              font-size: 0.98rem
              margin-right: 10px

            .comfort__icon-breakfast
              margin-left: 1px
              margin-right: 11px

      .column2

        .wrap

          .choose-button

            .sale, .sale-info
              display: none

    .item.owl
      @extend %hotels__item_default

      .column1

        .item__rooms

          .fa-bed
            margin-right: 9px

        .warning
          margin-left: 28px

        .comfort

          &__item

            .fa-car
              font-size: 0.98rem
              margin-right: 10px

            .fa-wifi
              margin-left: 1px
              margin-right: 10px

      .column2

        .wrap

          .choose-button

            .sale
              display: inline-flex

            .price

              .main
                display: none

        .extra-info
          display: none

    .item.alfa
      @extend %hotels__item_default

      .column1

        .item__rooms

          .fa-bed
            margin-right: 9px

        .warning
          margin-left: 28px
          visibility: hidden

        .comfort

          &__item

            .fa-car
              font-size: 0.98rem
              margin-right: 10px

      .column2

        .wrap

          .choose-button

            .sale, .sale-info
              display: none

        .extra-info
          display: none

    .item.ibis2
      @extend %hotels__item_default

      .notice
        display: inline-flex

      .column1

        .item__rooms

          .fa-bed
            margin-right: 9px

        .warning
          margin-left: 28px

        .comfort

          &__item

            .fa-car
              font-size: 0.98rem
              margin-right: 10px

            .comfort__icon-breakfast
              margin-left: 1px
              margin-right: 11px

      .column2

        .wrap

          .choose-button

            .sale, .sale-info
              display: none

            .price

              .main
                display: none

        .extra-info
          display: none

    .item.dostoyevsky
      @extend %hotels__item_default

      .column1

        .item__rooms

          .fa-bed
            margin-right: 9px

        .warning
          margin-left: 28px
          visibility: hidden

        .comfort

          &__item

            .fa-car
              font-size: 0.98rem
              margin-right: 8px

            .comfort__icon-fitness
              margin-left: 1px
              margin-right: 9px

      .column2

        .wrap

          .choose-button

            .sale, .sale-info
              display: none

        .extra-info
          display: none

  .pages
    text-align: center
    margin-top: 28px

    .pages__info
      color: $grey16
      font-size: 0.875rem

    .pagination
      width: 263px
      display: inline-flex
      justify-content: space-between
      margin-top: 13px
      margin-bottom: 0

      .item

        .link-direction, .link-page
          padding: 0
          border-color: $white2
          border-radius: 3px
          width: 38px
          height: 38px
          display: inline-flex
          align-items: center
          justify-content: center

        .link-direction
          color: $grey7

        .link-page
          color: $grey17
          font-size: 0.911rem

      .active>a
        background: $white
        color: $blue !important
        font-weight: 700

    &__line
      margin: 85px 0 0 -28px
      width: 100vw
      border-top-color: $white4

  @import '../footer/footer'