.workspace
  background: linear-gradient(to right, $white 21%, $white3 21%, $white3)
  clear: both
  overflow: hidden

  .container
    position: relative

  @import 'settings/__settings'

  @import '__content'